[user]
	email = kok.fdcm@gmail.com
	name = Kenji Ohtsuka
[push]
	default = current
[core]
	excludesfile = ~/.gitignore
	editor = /usr/bin/vim
[credential]
	helper = cache --timeout=86400
[alias]
	st = status
	lg = log --decorate --all --graph --oneline
  m = merge --no-ff
	c = commit
	b = branch -vv
	d = diff
	co = checkout
  a = add
[diff]
	tool = vimdiff
